Dockerfile
node_modules
.devcontainer
.git*
.infra
.vscode
.*ignore
.editorconfig
*.js
*.md
compose.yaml
logs
biome.json
LICENSE
flake.*
shell.nix
*.template.json
*.db
config.json
*.config.json
.npmrc
data/
docs/
lefthook.yml
