services:
  bot:
    container_name: csz-bot
    restart: unless-stopped
    image: ghcr.io/nulldev/csz-bot:latest
    environment:
      - LOG_LEVEL=debug
    volumes:
      - ../config.json:/app/config.json:ro
      - ../data:/app/data
