services:
  bot:
    container_name: csz-bot
    restart: unless-stopped
    image: ghcr.io/nulldev/csz-bot:latest
    environment:
      - LOG_LEVEL=debug
    volumes:
      # cannot use docker secrets because the file will be updated by yt-dlp
      - ../cookies-youtube.txt:/cookies-youtube.txt
      - ../data/config.json:/app/config.json:ro
      - ../data/sounds:/app/data/sounds
      - ../data/storage.db:/app/storage.db
      - ../logs:/app/logs
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
